{% extends "core/base.html" %}
{% block content %}
    <h1 class="text-center">Nový nepovolený dátum</h1>

    <div class="container-lg">
        {% load crispy_forms_tags %}
        <form action="{% url 'create_new_nepovoleny_datum' %}" id="create_new_nepovoleny_datum_form" method="POST" enctype="multipart/form-data">
            {% crispy form %}
        </form>
        <button class="btn btn-success mt-3" type="submit" form="create_new_nepovoleny_datum_form">Vytvoriť nový nepovolený dátum</button>
    </div>

{% endblock %}