{% extends "core/base.html" %}
{% block content %}
    <h1 class="text-center">Nový povolený čas</h1>

    <div class="container-lg">
        {% load crispy_forms_tags %}
        <form action="{% url 'create_new_povoleny_cas' %}" id="create_new_povoleny_cas_form" method="POST" enctype="multipart/form-data">
            {% crispy form %}
        </form>
        <button class="btn btn-success mt-3" type="submit" form="create_new_povoleny_cas_form">Vytvoriť nový povolený čas</button>
    </div>

{% endblock %}