{% extends "core/base.html" %}
{% block content %}
    <h1 class="text-center">Zmeniť poznámku administrátora pre rezerváciu s ID {{reservation.id}}</h1>

    <div class="container-lg">
        {% load crispy_forms_tags %}
        <form action="{% url 'edit_or_show_poznamka_administratora' reservation.uuid_identificator %}" id="edit_or_show_poznamka_administratora_form" method="POST" enctype="multipart/form-data">
            {% crispy form %}
        </form>
        <button class="btn btn-success mt-3" type="submit" form="edit_or_show_poznamka_administratora_form">Zmeniť poznámku administrátora</button>
    </div>

{% endblock %}