{% extends "core/base.html" %}
{% block content %}
    <h1 class="text-center">Nová žiadosť o rezerváciu</h1>

    {% if not povoleny_cas %}
        <h6 class="text-center text-danger">Nie je vytvorený povolený čas! Je potrebné ho vytvoriť predtým, ako zákazníci budú môcť vytvárať nové rezervácie.</h6>
    {% endif %}
    {% if not admin_email %}
        <h6 class="text-center text-danger">Nie je vytvorený administrátorský e-mail! Je potrebné ho vytvoriť predtým, ako zákazníci budú môcť vytvárať nové rezervácie.</h6>
    {% endif %}
    {% if not aktivita %}
        <h6 class="text-center text-danger">Nie je vytvorená žiadna aktivita! Je potrebné ju vytvoriť predtým, ako zákazníci budú môcť vytvárať nové rezervácie.</h6>
    {% endif %}

    <div class="container-lg kontajner">
        {% load crispy_forms_tags %}
        <form action="{% url 'input_initial_date_for_new_reservation' %}" id="input_initial_date_for_new_reservation_form" method="POST" enctype="multipart/form-data">
            {% crispy form %}
        </form>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success shadow mt-3" type="submit" form="input_initial_date_for_new_reservation_form">Pokračovať <i class="bi bi-arrow-right"></i></button>
        </div>
    </div>

{% endblock %}