{% extends 'core/base.html' %}
{% block content %}
<div class="container-fluid">
    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Zadané údaje nie sú platné. Skúste to znovu.</p>
        </div>
    {% endif %}
    
    <h3 class="mt-3 mb-5 text-center">Zmena hesla (zresetovanie hesla)</h3>

    {% load crispy_forms_tags %}
    <form id="password_change_form" method="POST" enctype="multipart/form-data">
        {% crispy form %}
    </form>
    <button class="btn btn-success mt-3" type="submit" form="password_change_form">Zmeniť heslo</button>
</div>
{% endblock %}