{% extends 'core/base.html' %}
{% block content %}
<div class="container-fluid">
        
    <h3 class="mt-3 mb-5 text-center">E-mail, na zresetovanie Vášho hesla, bol odoslaný.</h3>
    <p class="text-center">
        Odoslali sme Vám e-mail s inštrukciami na zresetovanie Vášho hesla.<br />
        E-mail Vám príde na Vami zadanú e-mailovú adresu do pár minút.<br />
        <b>Ak Vám e-mail neprišiel, uistite sa, že ste zadali správnu e-mailovú adresu a skontrolovali zložku SPAM vo Vašej e-mailovej schránke.</b>
    </p>
    
</div>
{% endblock %}